$sidebar-bg-color: var(--linear-gradient) !default;
$sidebar-color: var(--light) !default;
$highlight-color: var(--accent-bright) !default;
$sidebar-width: 200px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';

.sidebar-header {
  padding: 1em;

  & h4 {
    font-size: calc(1em + 1vw) !important;
    font-family: 'Proxima Nova Semibold';
  }
}

a {
  font-size: 1.5em;
  font-family: 'Proxima Nova';
}
