:root {
    --theme-button-text: #FFF;
    --light:  rgb(238, 230, 223);
    --semidark: rgb(80, 80, 80);
    --dark: rgb(17, 17, 17);
    --accent-bright: rgb(255, 69, 0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6vh;
}

h3 {
    font-size: 3vh;
}

.light {
    --theme-page-background: var(--light);
    --theme-page-text: var(--dark);
    --theme-button-color: rgb(39, 60, 130);
    --theme-same: var(--light);
    --theme-diff: var(--dark);
    --theme-mid: var(--semidark);
}

.dark {
    --theme-page-background: rgb(24, 24, 24);
    --theme-page-text: var(--light);
    --theme-button-color: var(--accent-bright);
    --theme-same: var(--dark);
    --theme-diff: var(--light);
    --theme-mid: var(--semidark);
}
