.App {
  height: 100%;
  display: flex;
  position: relative;

  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  background: var(--theme-page-background);
  color: var(--theme-page-text);

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  h1 {
    font-size: calc(2em + 6vw) !important;
  }

  h3 {
    font-size: calc(1em + 3vw)!important;
  }

}

/* Small devices (portrait tablets and large phones, 600 and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {

} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */
